body {
    margin: 0;
    font-family: 'raleway', serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

.header {
    background-color: #e9e8e6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    position: sticky;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0;
    top: 0;
    z-index: 1000;
}

.siteName {
    font-size: 12px;
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
    color: rgb(55, 55, 55);
    font-family: 'raleway', serif;
}

.siteName h1 {
    margin: 0;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar ul li {
    padding: 13px;
    font-size: 14px;
    font-weight: 500;
    color: #444444;
    font-family: 'poppins', serif;
    cursor: pointer;
}

.navbar ul li a {
    text-decoration: none;
    color: #444444;
}

.navbar ul li:hover {
    color: #34b7a7;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.headerSocialIcon {
    display: flex;
}

.headerSocialIcon i {
    padding: 6px;
    color: #8c8c8c;
    cursor: pointer;
}

.headerSocialIcon i:hover {
    color: #34b7a7;

}

.heroSection {
    background-image: url(assets/HeroSection/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;

}

.heroContentSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.heroContentSection h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #252525;
    font-family: 'raleway', serif;
}

.heroContentSection p {
    margin: 10px 0 0 0;
    font-size: 24px;
    color: #252525;
    font-family: 'roboto', serif;
    line-height: 2rem;
}

.heroContentSection button {
    background-color: #34b7a7;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
    padding-left: 35px;
    margin-top: 25px;
    border-radius: 10px;
    cursor: pointer;
}

.heroContentSection button:hover {
    background-color: #2ca193;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #e9e8e6;
    padding-bottom: 30px;

}

.footerContentSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
}

.footerContentSection p {
    color: #444444;
    font-size: 12px;
    font-family: 'roboto', serif;
}

.footerSocialIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerSocialIcon i {
    color: #8c8c8c;
    padding: 10px;
    margin: 5px;
    border: 1px solid #8c8c8c;
    border-radius: 100%;
    cursor: pointer;
}

.footerSocialIcon i:hover {
    color: #34b7a7;
    padding: 10px;
    margin: 5px;
    border: 1px solid #34b7a7;
    border-radius: 100%;
    cursor: pointer;
}

.designed {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.designed p {
    color: #444444;
    font-size: 12px;
    font-family: 'roboto', serif;
}

.designed p a {
    text-decoration: none;
    color: #34b7a7;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.about ul {
    padding: 0;
    margin: 0;
}

.about ul li {
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    font-weight: 700;
    font-family: 'raleway', serif;
}

.hr {
    width: 60px;
    height: 3px;
    background-color: #2ca193;
    border: none;
    margin: 10px 0;
}

.about p {
    color: #444444;
    font-size: 16px;
    font-family: 'roboto', serif;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: start;
    align-items: start;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}

.contentRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.contentRow i {
    color: #34b7a7;
    font-size: 13px;
    padding-right: 6px;
    font-weight: 100;
}

.contentRow h3 {
    font-size: 16px;
    font-family: 'roboto', serif;
    color: #2a2929;
    font-weight: 600;
}

.contentRow p {
    font-size: 16px;
    font-family: 'roboto', serif;
    color: #2a2929;
    font-weight: 300;
}

.aboutHeroSection {
    display: flex;
    flex-direction: row;
    padding-right: 90px;
    padding-left: 90px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:720px) {
    .aboutHeroSection {
        display: flex;
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width:720px) {
    .aboutHeroSection {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }

    .row {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.aboutImageSection img {
    width: 400px;
    height: auto;
}

.aboutContentSection h2 {
    font-size: 26px;
    font-family: 'raleway', serif;
}

.aboutContentSection p {
    font-size: 14px;
    font-family: 'roboto', serif;
    color: #444444;
}

.skills {
    display: flex;
    flex-direction: row;
    gap: 210px;
    padding-left: 250px;
    padding-right: 250px;
    justify-content: space-between;
}

@media screen and (max-width:720px) {
    .skills {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: space-between;

    }

    .skillscolumnPara {
        justify-content: space-between;
        gap: 0px;
    }

    .skillscolumnPara p {
        margin: 0;
        line-height: 0.25rem;
    }

    .hr {
        color: #34b7a7;
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width:320px) {
    .skills {
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 10px;

    }

    .skillscolumnPara {
        justify-content: space-between;
    }
}

.skillsColumn {
    display: flex;
    flex-direction: column;

}

.skillscolumnPara {
    display: flex;
    flex-direction: row;
    gap: 150px;
    justify-content: space-between;

}

.skillscolumnPara p {
    margin: 0;
    line-height: 1.75rem;
}

.hr {
    color: #34b7a7;
    width: 260px;
    height: 5px;
}

.factsrow {
    display: flex;
    flex-direction: row;
    gap: 170px;
    padding-left: 500px;
    padding-right: 500px;
    justify-content: center;
}

.factscolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.factscolumn h3 {
    font-size: 50px;
    margin: 0;
}

.factscolumn p {
    color: #444444;
    font-size: 14px;
    margin: 0;
    font-weight: 500;
}

.facts-hr {
    color: #2ca193;
    width: 100%;
    height: 2px;
    background-color: #34b7a7;
    border: none;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .factsrow {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
        align-items: center;
    }
}

@media screen and (max-width: 320px) {
    .factsrow {
        padding: 10px;
        gap: 20px;
    }

    .factscolumn h3 {
        font-size: 36px;
    }

    .factscolumn p {
        font-size: 12px;
    }

    .facts-hr {
        width: 40px;
        height: 2px;
    }
}