body {
    margin: 0;
    font-family: 'raleway', serif;
}

.header {
    background-color: #e9e8e6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    position: sticky;
    box-shadow: 0px;
}

.siteName {
    font-size: 12px;
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
    color: rgb(55, 55, 55);
    font-family: 'raleway', serif;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar ul li {
    padding: 13px;
    font-size: 14px;
    font-weight: 500;
    color: #444444;
    font-family: 'poppins', serif;
    cursor: pointer;
}

.navbar ul li:hover {
    color: #34b7a7;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.headerSocialIcon {
    display: flex;
}

.headerSocialIcon i {
    padding: 6px;
    color: #8c8c8c;
    cursor: pointer;
}

.headerSocialIcon i:hover {
    color: #34b7a7;

}