body {
    margin: 0;
    font-family: 'raleway', serif;
    box-sizing: border-box;
}

.header {
    background-color: #e9e8e6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    position: sticky;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0;
    top: 0;
    z-index: 1000;
}

.siteName {
    font-size: 12px;
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
    color: rgb(55, 55, 55);
    font-family: 'raleway', serif;
}

.siteName h1 {
    margin: 0;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar ul li {
    padding: 13px;
    font-size: 14px;
    font-weight: 500;
    color: #444444;
    font-family: 'poppins', serif;
    cursor: pointer;
}

.navbar ul li:hover {
    color: #34b7a7;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.headerSocialIcon {
    display: flex;
}

.headerSocialIcon i {
    padding: 6px;
    color: #8c8c8c;
    cursor: pointer;
}

.headerSocialIcon i:hover {
    color: #34b7a7;

}

.heroSection {
    background-image: url(assets/HeroSection/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;

}

.heroContentSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.heroContentSection h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #252525;
    font-family: 'raleway', serif;
}

.heroContentSection p {
    margin: 10px 0 0 0;
    font-size: 24px;
    color: #252525;
    font-family: 'roboto', serif;
    line-height: 2rem;
}

.heroContentSection button {
    background-color: #34b7a7;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
    padding-left: 35px;
    margin-top: 25px;
    border-radius: 10px;
    cursor: pointer;
}

.heroContentSection button:hover {
    background-color: #2ca193;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #e9e8e6;
    padding-bottom: 30px;

}

.footerContentSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
}

.footerContentSection p {
    color: #444444;
    font-size: 12px;
    font-family: 'roboto', serif;
}

.footerSocialIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerSocialIcon i {
    color: #8c8c8c;
    padding: 10px;
    margin: 5px;
    border: 1px solid #8c8c8c;
    border-radius: 100%;
    cursor: pointer;
}

.footerSocialIcon i:hover {
    color: #34b7a7;
    padding: 10px;
    margin: 5px;
    border: 1px solid #34b7a7 ;
    border-radius: 100%;
    cursor: pointer;
}

.designed {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.designed p{
    color: #444444;
    font-size: 12px;
    font-family: 'roboto', serif;
}
.designed p a{
    text-decoration: none;
    color: #34b7a7;
}